* {
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
}
#nav-row{
    margin: 0;
    padding: 0;
}

.navbar a button {
    color: #F4A540;
    background: #545B62;
}

.navbar a button:hover {
    color: #545B62;
    background: #F4A540;
}

.navbar {
    background-color: #545B62;
    /*color: orange;*/
}

@media screen and (max-width: 700px){
    #search-bar{
        width: 160%;
        margin-left: -62px;
        margin-top: 5px;
        margin-bottom: 8px;
    }
}

#body-row{
    margin: 0;
    padding: 0;
}

.left-sidebar {
    margin: 0;
    padding: 0;
    padding-left:0px;
    background-color: white;
    border-right: 1px solid silver;
    height: 100%;
}

.left-sidebar a {
    display: block;
    color: #6c6a6a;
    padding: 15px;
    margin-left: 0px;
    text-decoration: none;
}

.left-sidebar a:hover {
    background: #f5f5f5;
    color: black;
    margin-left: 0;
    margin-right: 0;
}

.main-contnet {
    /*padding: 10px;*/
}


.right-sidebar {
    /*margin: 0;*/
    /*padding: 10px;*/
    padding-right:0px;
    background-color: white;
    height: 100%;
    border-left: 1px solid silver;
}

.right-sidebar a {
    display: block;
    color: #6c6a6a;
    padding: 10px;
    text-decoration: none;
}

.right-sidebar a:hover {
    background: #f5f5f5;
    color: black;
}


/*Ask Question Page*/

.ask-question-body {
    background: #EFF0F1;
    font-family: 'Nunito', sans-serif;
}

.question-title {
    margin-bottom: 30px;
}

.question-body {
    margin-bottom: 30px;
}

.question-tag {
    margin-bottom: 30px;
}


.container p {
    font-size: 12px;
}




/*edited by farhana*/

html, body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

/*.container {*/
/*height: 100%;*/
/*align-content: center;*/
/*text-align: center;*/
/*}*/
/*.container div h2 {*/
/* text-align: center;*/
/* margin-top: 30px;*/
/*}*/


.card {
    height: 510px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
}

.card-register {
    height: 560px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
}

.card-body {
    height: 400px !important;
}

.card-register .card-body {
    height: 400px;
}

.card-body img {
    padding-left: 150px;
}

.card-register .card-header img {
    padding-left: 150px;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #2378CC;
}

/*.input-group-prepend span {*/
/*    width: 50px;*/
/*    background-color: #2378CC;*/
/*    color: rgb(100, 94, 94);*/
/*    border: 0 !important;*/
/*}*/

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: black;
}

#main-card-row{
    margin-top: -20px;
}

.card-tag {
    height: 100%;
    /*margin-top: auto;*/
    /*margin-bottom: 25px !important;*/
    /*width: 190px;*/
    width: 100%;
    background-color: #f5f5f5 !important;
}

.card-tag h5{
    color: #ff9100;
}
.card-tag h5:hover{
    color: #9da1a5;
}

.card-column{
    background: #ff9100;
}


/*card media query start*/

/*@media screen and (max-width: 1024px){*/
/*    .card-tag{*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 768px){*/
/*    .card-tag{*/

/*    }*/
/*}*/

/*@media screen and (max-width: 700px){*/
/*    .card-tag{*/

/*    }*/
/*}*/

/*@media only screen and (max-width : 540px) {*/
/*    .card-tag{*/

/*    }*/
/*}*/

/*@media only screen and (max-width : 414px) {*/
/*    .card-tag{*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@media only screen and (max-width : 375px) {*/
/*    .card-tag{*/

/*    }*/
/*}*/
/*@media only screen and (max-width : 360px) {*/
/*    .card-tag{*/

/*    }*/
/*}*/

/*@media only screen and (max-width : 320px) {*/
/*    .card-tag{*/
/*        margin-left: 20px;*/
/*    }*/
/*}*/

/*@media only screen and (max-width : 280px) {*/
/*    .card-tag{*/
/*        margin-left: 0px;*/
/*    }*/
/*}*/

/*card media query end*/



/*.col-md-8 .row {*/
/*  margin-left:3px !important;*/
/*}*/
.col-md-8 .row .card-header {
    height: 50px !important;
}

/* .row {
  margin-left: 8px;
} */
.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.card-header .h4 {
    margin-top: 10px;
}

.input-group-prepend span {
    width: 50px;
    background-color: white;
    color: #ff9100;
    border-radius: 10px;
    border: 0 !important;
}

input:focus, select:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}


.remember, .links {
    color: black;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.reset_btn {
    color: white;
    background-color: #637282;
}
.reset_btn:hover {
    color: #ff9100;
    background-color: white;
    border-color: #ff9100;
}
.btn-secondary:hover {
    color: #ff9100 !important;
    background-color: white !important;
    border-color: #ff9100 !important;
}

.btn-secondary {
    color: white !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}
.btn-secondary:focus {
    outline:0;
}

#navbarSupportedContent button:focus{
    outline: 0;
}

.login_btn:hover  {
    color: white;
    background-color: #637282;
}
.login_btn {
    color: #ff9100;
    background-color: white;
    border-color: #ff9100;
}

/*.login_btn {*/
/*    color: white;*/
/*    background-color: #637282;*/
/*}*/
/*.login_btn:hover {*/
/*    color: #ff9100;*/
/*    background-color: white;*/
/*    border-color: #ff9100;*/
/*}*/


.justify-content-center{
    margin-top: 7%;
}

.login_btn:focus {outline:0;}

.links a {
    margin-left: 4px;
}

.search-tag {
    width: 100% !important;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, .03) !important;
}

.card-home {
    height: 130px !important;
    width: 90% !important;
    border-top: 2px solid #ff9100 !important;
    margin-left: 5% !important;
}

.col-md-8 .home-row {
    margin-left: -25px !important;
    margin-top: -10px !important;
}

.bg-home-tag {
    background-color: orange;
    color: white;
}

.bg-home-tag:hover {
    background-color: rgb(255,140,0);
  }
.border-tag-card{
  border-color:orange !important;

}

.tag-head-txt {
    color: orange !important;
}

.bg-home-reply {
    height: 90px;
    text-align: center;
}

.icon-reply {
    color: orange;
    padding-top: 5px !important;
    /* height: 35px !important;
    width: 35px !important; */
}

.bg-field {
    background-color: #f5f5f570;
    /* border-color: #ff9100; */


}

.form-control:focus{
    border-color: #ff9100 !important;
    
}

.button:focus, .btn-secondary:focus, .pagination a:focus{
    box-shadow: none !important;
}
.space {
    margin-bottom: 25px !important;
}

.card-title-home {
  /* padding-top: .5rem !important; */
  margin-bottom: .5rem !important;
}

.round-field {
  border-radius: 5px !important;
}
.round-search{
    border-bottom-right-radius: 5px !important; 
    border-top-right-radius: 5px !important;
}
.card-title-home a, .space a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.card-title-home a:hover, .space a:hover {
    color: #6c6a6a !important;
    text-decoration: none;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color:#545B62 !important;
    /* border-color: orange !important; */
    border-color: #545B62 !important;
}
.page-link.active {
    color: #fff !important;
}
.page-item .page-link {
    color: orange !important;
    border: 1px solid orange !important;
}
.page-link:hover {
    background-color: #eeeeee !important;
}

/* .log-h{
    height: 100% !important; 
} */